<!doctype html>
<html lang="en">
<head>
    <title>Constraint Component UI Testing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
<body>

    <h1>Please enter the password</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul style="color: red;">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="password" name="password" autofocus required />
        <button type="submit">Enter</button>
    </form>
</body>
</html>
